@import '../../stylesheets/common/main';

.form_block {
    background: #fff;
    min-height: 480px;
    margin-top: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: $secondaryColor;
    padding: 30px 0 60px;
    transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
    position: absolute;
    top: 0;
    left: -30%;
    width: 130%;
    overflow: hidden;

    &.switched {
        transform: translateX(-100%);
        width: 100%;
        left: 0;
    }
}

form {
    padding: 0 40px;
    margin: 0;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-top: 32px;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    .error {
        color: $errorColor;
        font-family: $subFont;
        font-size: 12px;
        position: absolute;
        bottom: -20px;
        right: 0;
        display: none;
    }

    &.hasError {
        input {
            border-color: $errorColor !important;
        }

        label {
            color: $errorColor !important;
        }

        .error {
            display: block;
        }
    }
}

label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $subFont;
    transform: translateY(2px);
    transition: all 0.4s;
    cursor: text;
    z-index: -1;
    position: absolute;

    &.active {
        transform: translateY(-14px);
        font-size: 10px;
    }
}

.submit_block {
    margin-top: 30px;
}

.switch {
    font-size: 13px;
    font-weight: 400;
    font-family: $subFont;
    color: $linkColor;
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
}

.switch:hover {
    color: $linkHoverColor;
}