* {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
}

body{
    background: #aa4b6b;
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    color: $white;
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

body{
    font-family: $fontFamily;
    overflow-x: hidden;
}

/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
}