// Colors
$primaryAppColor: #162239;
$primaryColor: #f5a425;
$secondaryColor: #bbbbbb;
$inputColor: #444;
$errorColor: #f95959;
$primaryBtnColor: #f5a425;
$primaryBtnText: #FFFFFF;
$linkColor: #33ccff;
$linkHoverColor: #006d91;
$white: white;

$headerBg: rgba(22, 34, 57, 0.95);
$homeVideoOverlay: rgba(22, 34, 57, 0.85);
$homeOverlayBtns: #0c1228;