// Colors
$primaryAppColor: #162239;
$primaryColor: #f5a425;
$secondaryColor: #bbbbbb;
$inputColor: #444;
$errorColor: #f95959;
$primaryBtnColor: #f5a425;
$primaryBtnText: #FFFFFF;
$linkColor: #33ccff;
$linkHoverColor: #006d91;
$white: white;